* {
    margin: 0px;
    padding: 0px;
    font-family: 'ubuntu','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* border: 2px solid red; */
}

body::before {
    content: "";
    position: absolute;
    top: 0px;
    background-image: url("image.jpg");
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-position: 0px -500px;
    background-size: 100%;
    opacity: 0.4;
    z-index: -1;
}

#clickable
{
    font-size: 30px;
    padding: 10px;
    border-radius: 30px;
    background-color: white;
    color: rgb(80, 8, 248);
    text-decoration: none;
}

#clickable:hover
{
    background-color: blanchedalmond;
    text-decoration: underline;
}


#asd {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    font-size: 25px;
}

#asd img
{
    height: 200px;
    position: absolute;
    top: 70px;
    right: 50px;
}

#asd h2 {
    display: inline
}

#marks
{
    font-size: 25px;
    margin-top: 100px;
    margin-left: 50px;
    padding: 30px;
}
#marks ,tr, th,td
{
    border: 1px solid black;
}